
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eddbdf;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #6d7973;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #f4c8ca;
  }
  .active {
   
 
    header-background {
      background: linear-gradient(rgba(255, 254, 253, 0.7), rgba(255, 254, 253, 0.9)), 
      url("https://i.pinimg.com/564x/ef/5d/56/ef5d567ad6d5d769ef16e3de411e6503.jpg") center center fixed;
      background-size: cover;
      text-align: center;
      height: 100vh; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }}*/
  
 
  :root {
   ---pink: #f4c8ca;
}

body {
    margin: 0;
    padding: 0;
    font-family: serif;
}

*{
margin: 0;
box-sizing: border-box;
font-family: serif;
outline: none; border: none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;
}

header {
  position: fixed;
  top:0; left:0; right:0;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0.5rem 1rem #ffc8dd;
}

html {
  font-size:70%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section{
  padding: 2rem 9%;
}

.home{
  display: flex;
  align-items: center;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  margin: 0;
  background-color: #f0f0f0;
}

.frame {
  padding: 20px; /* Inner space between the image and the border */
  border: 10px solid #ffe5ec; /* Width and color of the picture frame border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for a 3D effect */
  background-color: #fff;
}

.frame img {
  display: block;
  max-width: 100%;
  height: auto;
}

.home .content{
  max-width: 50rem;
}

.home .content h3{
  font-size: 6rem;
  color:#6d7973;
}

.home .content span{
  font-size: 3.5rem;
  color:#ffc8dd;
  padding: 1rem 0;
  line-height: 1.5;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: #cbeef33;
  padding: 1rem;
  margin: 2rem 0;
  background: #6e9887;
}

.heading span{
  color:var(---pink);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #f4c8ca;
  color: #84a98c;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(---pink);
}

.home .content h3{
  font-size: 5rem;
}

.home .content span{
  font-size: 2.5rem;
}

.home .content p{
  font-size: 3.5rem;
  color:#a8dadc;
  padding: 1rem 0;
  line-height: 1.5;
}

header .logo{
font-size: 3rem;
color: #6d7973;
}

header .logo span{
color:var(---pink);
}

header .navbar a{
  font-size: 2rem;
  padding: 0 1.5rem;
  color:#84a98c;
} 

header .navbar a:hover{
color: var(---pink);
}

header .icons a{
  font-size: 3rem;
  color: #d8e2dc;
  margin-left: 2rem;
}

header .navbar a:hover{
  color: var(---pink);
}

header .icons a{
font-size: 3rem;
color:#84a98c;
margin-left: 2rem;
}

header .icons a:hover{
  color:var(---pink);
}

header #toggler{
  display: none;
}

header .fa-bars{
  font-size: 3rem;
  color:#84a98c;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid azure;
  display: none;
}
.about .row{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .content{
  flex: 1 1 40rem;
}

.about .row .video-container{
  flex: 1 1 40rem;
  position: relative;
}

.about .row .video-container video{
  width: 100%;
  border: 1.5rem solid #ffc8dd;
  border-radius: .5rem;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.5);
  height: 100%;
  object-fit: cover;
}

.about .row .video-container h3{
  position: absolute;
  top: 50%; transform:translateY(-50%);
  font-size: 3rem;
  color: #f4c8ca;
  background: #a8dadc;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: saturation;
}

.about .row .content h3{
  font-size: 3rem;
  color: #a8dadc;
}

.about .row .content p{
  font-size: 3rem;
  color: #a8dadc;
  padding: 5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

.about .row h3{
  font-size: 3rem;
  color: #a8dadc;
}

.icons-container{
  background:#fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons{
  background: #a8dadc;
  border: .1 rem solid #ffc8dd;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .icons img{
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons h3{
  color:#6d7973
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.icons-container .icons span{
  color:#8fa4c4
  padding-bottom: 1.3rem;
  font-size: 1.5rem;
}

.projects .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.projects .box-container .box{
  flex: 1 1 30rem;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  border-radius: .1rem solid #pink;
  position: relative;
}

.projects .box-container .box .discount{
  position: absolute;
  top: 1rem; left:1rem;
  padding: .7rem 1rem;
  font-size: 2rem;
  color: var(---pink);
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: .1rem;
}

.projects .box-container .box .image{
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.projects .box-container .box .image img{
  height: 25rem;
}

.projects .box-container .box:hover .image img{
  transform: scale(1.1);
}

.projects .box-container .box .image .icons{
  position: absolute;
  bottom: 0; left: 0; right: 0;
  display:flex;

}

.projects .box-container .box .image .icons a{
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: var(---pink);
  color: #8fa4c4;
}

























* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.gallery-track {
  position:fixed;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0.25rem;
  padding: 0.25rem;
  will-change: transform;
}
.card {
  height: 400px;
  overflow: hidden;

  & .card-image-wrapper {
    height: 135%;
    will-change: transform;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
} 
@media (width < 800px) {
  .gallery-track {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (width < 550px) {
  .gallery-track {
    grid-template-columns: repeat(1,1fr);
  }
}