
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eddbdf;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #6d7973;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #f4c8ca;
  }
  .active {
    background-color: #0478aa;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:serif
  }
  :root {
    --bg-color: #efeae5;
    --second-bg-color: #ec92e6;
    --text-color: #6d7973;
    --main-color: #174194198;
  }
  html {
    font-size: 80%;
    overflow-x: hidden;
  }
body{
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
}